In [13]:
import pandas as pd
import json
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
from collections import Counter
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS

In [14]:
df = pd.read_csv('C:/Users/neals/Desktop/Practicum/prompt_results_for_chips.csv')
dataset_dir = 'E:/datasets'
dataset_name = 'DOTA_dataset_512'
coco_dir = f'{dataset_dir}/{dataset_name}'
coco_file = f'{coco_dir}/YOLO_coco_results_annots.json'
with open(coco_file, 'r') as f:
    coco_data = json.load(f)

category_map = {cat['id']:cat['name'] for cat in coco_data['categories']}

In [15]:
df.head()

,image_id,image_file,image_path,prompt,generated_text,1,2,3,4,5,...,7,8,9,10,11,12,13,14,15,16
0,1,P0003_0.png,E:/datasets/DOTA_dataset_512/val/images/P0003_...,A picture of,a parking lot with several yellow school buses,0,13,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,P0003_0.png,E:/datasets/DOTA_dataset_512/val/images/P0003_...,A photo of,a parking lot with several yellow school buses,0,13,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,P0003_0.png,E:/datasets/DOTA_dataset_512/val/images/P0003_...,There are,several yellow school buses parked in a parkin...,0,13,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,P0003_0.png,E:/datasets/DOTA_dataset_512/val/images/P0003_...,The image quality is,"poor, but the image shows a parking lot with s...",0,13,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,P0003_1.png,E:/datasets/DOTA_dataset_512/val/images/P0003_...,A picture of,a parking lot with yellow school buses,0,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# Tokenize the generated_text column and remove stopwords
df['tokens'] = df['generated_text'].str.lower().str.split()
df['tokens'] = df['tokens'].apply(lambda x: [word for word in x if word not in ENGLISH_STOP_WORDS])

In [17]:
prompts = ["A picture of", "A photo of", "There are", "The image quality is"]
word_count_df = None
for prompt in prompts:
    print(f'results for prompt={prompt}')
    filtered_df = df[df['prompt'] == prompt]
    # Create a DataFrame to store word counts for each class
    word_counts_per_class = {}

    # Loop through each class (columns 1 to 16)
    for i in range(1, 17):
        word_counts_per_class[i] = Counter()

        # Loop through each row
        for idx, row in filtered_df.iterrows():
            # If the class is present (assuming non-zero means presence)
            if row[str(i)] > 0:
                # Update the word count for this class
                word_counts_per_class[i].update(row['tokens'])

    # Convert word counts to DataFrame
    class_word_counts = pd.DataFrame(word_counts_per_class).fillna(0)

    # Normalize counts (optional)
    #class_word_counts = class_word_counts.div(class_word_counts.sum(axis=0), axis=1)
    # Find top words for each class based on frequency
    top_words = {}
    top_words_dict_list =[]
    for i in range(1, 17):
        top_words[i] = class_word_counts[i].sort_values(ascending=False).head(10)
        
        top_words_dict_list.append({
            'class_id': i,
            'class_name': category_map[i],
            'prompt': prompt,
            'word_counts': class_word_counts[i].sort_values(ascending=False)
        })
    class_word_counts['prompt'] = prompt
    class_word_counts['word'] = class_word_counts.index
    if word_count_df is None:
        word_count_df = class_word_counts
    else:
        word_count_df = pd.concat([word_count_df,class_word_counts])
    
    # Display top words for each class
    for i in range(1, 17):
        print(f"Class {category_map[i]} top words:\n{top_words[i]}\n")

results for prompt=A picture of
Class small-vehicle top words:
parked      1065.0
lot          893.0
parking      867.0
large        490.0
airport      428.0
building     417.0
field        380.0
cars         361.0
house        345.0
street       322.0
Name: 1, dtype: float64

Class large-vehicle top words:
parked       721.0
lot          644.0
parking      633.0
trucks       339.0
large        313.0
airport      217.0
building     160.0
cars         155.0
warehouse    152.0
tarmac       113.0
Name: 2, dtype: float64

Class ship top words:
water         795.0
boats         677.0
dock          487.0
boat          439.0
marina        427.0
docked        303.0
house         241.0
ship          161.0
parked        141.0
background    110.0
Name: 3, dtype: float64

Class harbor top words:
water         921.0
dock          752.0
boats         617.0
boat          485.0
marina        408.0
house         351.0
docked        284.0
background    155.0
lake          136.0
houses        131.0
Name: 4, dtype: float64

Class baseball-diamond top words:
field        211.0
baseball     174.0
satellite    119.0
image        115.0
city          48.0
court         26.0
tennis        25.0
soccer        24.0
black         23.0
white         23.0
Name: 5, dtype: float64

Class soccer-ball-field top words:
field        307.0
soccer       262.0
tennis        63.0
court         60.0
satellite     54.0
city          52.0
image         41.0
baseball      39.0
ball          32.0
park          22.0
Name: 6, dtype: float64

Class ground-track-field top words:
field        177.0
satellite    133.0
soccer       127.0
image        121.0
city         114.0
tennis        40.0
court         37.0
baseball      37.0
area          27.0
large         21.0
Name: 7, dtype: float64

Class swimming-pool top words:
house           101.0
houses           78.0
water            75.0
area             73.0
satellite        71.0
neighborhood     68.0
view             63.0
residential      58.0
dock             56.0
street           52.0
Name: 8, dtype: float64

Class roundabout top words:
satellite       151.0
image           134.0
city             81.0
road             60.0
area             52.0
intersection     46.0
view             30.0
roundabout       28.0
building         27.0
middle           26.0
Name: 9, dtype: float64

Class tennis-court top words:
tennis          584.0
court           488.0
courts           85.0
field            69.0
residential      65.0
middle           43.0
area             39.0
park             38.0
neighborhood     36.0
new              31.0
Name: 10, dtype: float64

Class basketball-court top words:
court         87.0
tennis        64.0
basketball    36.0
field         31.0
city          29.0
soccer        29.0
satellite     21.0
image         18.0
middle        11.0
courts        11.0
Name: 11, dtype: float64

Class plane top words:
parked       984.0
airport      635.0
runway       473.0
tarmac       388.0
plane        352.0
airplanes    342.0
planes       324.0
airplane     244.0
large        164.0
military     130.0
Name: 12, dtype: float64

Class helicopter top words:
parked        29.0
helicopter    26.0
ground        21.0
airplanes     18.0
airport       13.0
runway        11.0
flying        10.0
tarmac        10.0
plane          8.0
group          8.0
Name: 13, dtype: float64

Class bridge top words:
satellite    372.0
image        360.0
city         200.0
large        144.0
river        114.0
area          91.0
bridge        85.0
field         66.0
road          64.0
highway       47.0
Name: 14, dtype: float64

Class storage-tank top words:
large         275.0
industrial    148.0
satellite     126.0
image         122.0
area          104.0
tanks          82.0
building       81.0
oil            68.0
city           64.0
middle         53.0
Name: 15, dtype: float64

Class container-crane top words:
port          5.0
large         4.0
ship          4.0
water         4.0
harbor        2.0
lots          1.0
sky           1.0
kong          1.0
containers    1.0
image         1.0
Name: 16, dtype: float64

results for prompt=A photo of
Class small-vehicle top words:
parked      1008.0
lot          859.0
parking      842.0
airport      490.0
large        448.0
area         386.0
building     378.0
city         368.0
field        355.0
house        327.0
Name: 1, dtype: float64

Class large-vehicle top words:
parked       716.0
lot          644.0
parking      634.0
trucks       326.0
large        307.0
airport      246.0
warehouse    152.0
cars         152.0
building     150.0
tarmac       111.0
Name: 2, dtype: float64

Class ship top words:
water           738.0
boats           634.0
marina          452.0
dock            448.0
boat            352.0
docked          322.0
house           241.0
ship            151.0
parked          125.0
neighborhood    108.0
Name: 3, dtype: float64

Class harbor top words:
water           874.0
dock            707.0
boats           574.0
marina          436.0
house           367.0
boat            339.0
docked          294.0
lake            157.0
near            135.0
neighborhood    116.0
Name: 4, dtype: float64

Class baseball-diamond top words:
field        200.0
baseball     167.0
satellite    110.0
image        108.0
city          51.0
white         30.0
black         30.0
tennis        26.0
area          24.0
park          23.0
Name: 5, dtype: float64

Class soccer-ball-field top words:
field        287.0
soccer       247.0
tennis        64.0
court         58.0
city          52.0
satellite     35.0
baseball      33.0
area          31.0
image         29.0
ball          28.0
Name: 6, dtype: float64

Class ground-track-field top words:
field        157.0
soccer       113.0
city         112.0
satellite    107.0
image         96.0
area          41.0
tennis        38.0
court         31.0
baseball      31.0
school        27.0
Name: 7, dtype: float64

Class swimming-pool top words:
house           96.0
neighborhood    95.0
area            88.0
residential     65.0
satellite       62.0
water           59.0
street          56.0
houses          55.0
view            53.0
dock            51.0
Name: 8, dtype: float64

Class roundabout top words:
satellite       118.0
image           110.0
city             79.0
area             78.0
road             52.0
intersection     45.0
residential      31.0
roundabout       24.0
view             23.0
middle           21.0
Name: 9, dtype: float64

Class tennis-court top words:
tennis         580.0
court          435.0
courts         137.0
residential     81.0
field           75.0
area            66.0
new             61.0
park            55.0
middle          53.0
school          46.0
Name: 10, dtype: float64

Class basketball-court top words:
court         81.0
tennis        60.0
field         35.0
basketball    34.0
soccer        29.0
city          29.0
middle        15.0
school        14.0
satellite     13.0
image         12.0
Name: 11, dtype: float64

Class plane top words:
parked       980.0
airport      699.0
runway       435.0
tarmac       407.0
airplanes    340.0
plane        329.0
planes       292.0
airplane     225.0
large        155.0
military     126.0
Name: 12, dtype: float64

Class helicopter top words:
parked        29.0
helicopter    27.0
ground        17.0
airport       16.0
airplanes     16.0
tarmac        15.0
runway        11.0
flying         8.0
water          8.0
military       8.0
Name: 13, dtype: float64

Class bridge top words:
satellite    298.0
image        295.0
city         192.0
large        129.0
river        120.0
area         116.0
bridge        82.0
field         64.0
road          55.0
white         54.0
Name: 14, dtype: float64

Class storage-tank top words:
large         225.0
industrial    127.0
area          101.0
image          94.0
satellite      93.0
tanks          77.0
city           73.0
oil            67.0
middle         64.0
plant          63.0
Name: 15, dtype: float64

Class container-crane top words:
port         7.0
ship         2.0
water        2.0
australia    2.0
large        2.0
space        2.0
taken        2.0
ore          1.0
near         1.0
city         1.0
Name: 16, dtype: float64

results for prompt=There are
Class small-vehicle top words:
parked       1697.0
aerial       1346.0
photo         983.0
parking       906.0
cars          898.0
lot           842.0
buildings     782.0
houses        720.0
planes        428.0
middle        412.0
Name: 1, dtype: float64

Class large-vehicle top words:
parked       1098.0
parking       701.0
lot           674.0
trucks        439.0
cars          368.0
aerial        308.0
buildings     293.0
photo         233.0
planes        207.0
airport       143.0
Name: 2, dtype: float64

Class ship top words:
boats     1219.0
water     1149.0
dock       486.0
near       480.0
houses     352.0
aerial     341.0
photo      296.0
docked     270.0
marina     219.0
parked     161.0
Name: 3, dtype: float64

Class harbor top words:
water     1150.0
boats     1150.0
dock       651.0
houses     476.0
near       466.0
aerial     352.0
photo      311.0
docked     267.0
marina     212.0
image      133.0
Name: 4, dtype: float64

Class baseball-diamond top words:
baseball     151.0
fields       117.0
satellite    116.0
aerial       108.0
image         98.0
photo         97.0
field         82.0
buildings     58.0
houses        48.0
images        43.0
Name: 5, dtype: float64

Class soccer-ball-field top words:
soccer       190.0
fields       184.0
field        144.0
middle       139.0
aerial       102.0
buildings     89.0
photo         85.0
satellite     84.0
image         77.0
tennis        58.0
Name: 6, dtype: float64

Class ground-track-field top words:
satellite    176.0
buildings    164.0
image        146.0
aerial        84.0
field         83.0
soccer        81.0
fields        77.0
photo         72.0
middle        66.0
images        37.0
Name: 7, dtype: float64

Class swimming-pool top words:
houses       280.0
aerial       271.0
photo        185.0
view          68.0
water         53.0
image         42.0
boats         42.0
satellite     41.0
middle        35.0
buildings     35.0
Name: 8, dtype: float64

Class roundabout top words:
satellite    151.0
image        128.0
buildings    114.0
aerial        74.0
houses        64.0
photo         51.0
roads         43.0
parked        42.0
cars          39.0
images        34.0
Name: 9, dtype: float64

Class tennis-court top words:
tennis    539.0
courts    526.0
aerial    316.0
photo     281.0
middle    181.0
field     116.0
park       49.0
parked     39.0
cars       36.0
view       35.0
Name: 10, dtype: float64

Class basketball-court top words:
courts        79.0
middle        65.0
tennis        55.0
buildings     43.0
aerial        42.0
photo         40.0
basketball    35.0
field         33.0
fields        21.0
soccer        21.0
Name: 11, dtype: float64

Class plane top words:
parked       1284.0
planes       1227.0
tarmac        435.0
airport       427.0
runway        364.0
ground        149.0
airplanes     141.0
field         103.0
row            86.0
parking        85.0
Name: 12, dtype: float64

Class helicopter top words:
parked         55.0
planes         30.0
helicopters    28.0
tarmac         24.0
ground         17.0
field          13.0
runway         11.0
water          11.0
airplanes      11.0
flying          7.0
Name: 13, dtype: float64

Class bridge top words:
satellite    398.0
image        335.0
buildings    280.0
images       123.0
water         64.0
area          63.0
river         50.0
aerial        49.0
road          46.0
white         44.0
Name: 14, dtype: float64

Class storage-tank top words:
buildings    252.0
tanks        195.0
image        159.0
satellite    144.0
large        119.0
middle       112.0
aerial       103.0
photo         95.0
oil           85.0
water         72.0
Name: 15, dtype: float64

Class container-crane top words:
water      8.0
dock       5.0
ships      4.0
boats      4.0
large      3.0
near       3.0
tanks      2.0
sitting    1.0
aerial     1.0
docked     1.0
Name: 16, dtype: float64

results for prompt=The image quality is
Class small-vehicle top words:
poor,       3305.0
image       1569.0
visible     1369.0
shows       1144.0
clearly     1144.0
good,        762.0
building     572.0
parking      557.0
lot          548.0
shown        538.0
Name: 1, dtype: float64

Class large-vehicle top words:
poor,       1297.0
image        821.0
shows        627.0
parking      436.0
lot          432.0
clearly      383.0
visible      383.0
good,        281.0
building     267.0
shown        212.0
Name: 2, dtype: float64

Class ship top words:
poor,      1450.0
visible     780.0
image       457.0
clearly     452.0
shows       440.0
good,       384.0
boats       368.0
water       347.0
house       276.0
boat        203.0
Name: 3, dtype: float64

Class harbor top words:
poor,         1437.0
visible        887.0
clearly        412.0
house          404.0
water          370.0
shows          341.0
image          334.0
boats          318.0
good,          271.0
background     259.0
Name: 4, dtype: float64

Class baseball-diamond top words:
poor,        283.0
shows        182.0
field        136.0
area         111.0
image        107.0
baseball      99.0
shown         64.0
view          51.0
aerial        49.0
satellite     42.0
Name: 5, dtype: float64

Class soccer-ball-field top words:
poor,        353.0
image        162.0
shows        158.0
field        144.0
visible      112.0
clearly      106.0
satellite     81.0
soccer        76.0
shown         58.0
area          52.0
Name: 6, dtype: float64

Class ground-track-field top words:
poor,        320.0
shows        216.0
image        147.0
area         119.0
satellite    116.0
visible       60.0
field         60.0
stadium       57.0
clearly       54.0
city          49.0
Name: 7, dtype: float64

Class swimming-pool top words:
poor,         286.0
visible       174.0
clearly       127.0
house         120.0
good,          98.0
houses         92.0
image          77.0
shows          66.0
view           54.0
background     45.0
Name: 8, dtype: float64

Class roundabout top words:
poor,           235.0
shows           164.0
area            127.0
image            99.0
good,            75.0
satellite        64.0
clearly          51.0
visible          46.0
clear            34.0
intersection     28.0
Name: 9, dtype: float64

Class tennis-court top words:
poor,      547.0
tennis     473.0
court      328.0
visible    271.0
shown      205.0
clearly    186.0
aerial     178.0
courts     154.0
view       149.0
image      108.0
Name: 10, dtype: float64

Class basketball-court top words:
poor,         137.0
shows          68.0
image          67.0
court          53.0
visible        43.0
clearly        37.0
tennis         35.0
basketball     27.0
satellite      23.0
building       23.0
Name: 11, dtype: float64

Class plane top words:
poor,      795.0
image      506.0
good,      437.0
visible    393.0
clearly    392.0
shows      291.0
planes     265.0
plane      262.0
poor       176.0
good       172.0
Name: 12, dtype: float64

Class helicopter top words:
poor,         59.0
image         56.0
shows         37.0
good,         26.0
helicopter    17.0
bit           12.0
planes        11.0
clearly       10.0
parked        10.0
visible       10.0
Name: 13, dtype: float64

Class bridge top words:
poor,        522.0
shows        443.0
area         313.0
image        115.0
satellite    100.0
good,         88.0
large         67.0
bridge        66.0
located       61.0
river         60.0
Name: 14, dtype: float64

Class storage-tank top words:
poor,         500.0
shows         358.0
image         244.0
area          203.0
satellite     203.0
tanks          94.0
visible        81.0
clearly        78.0
good,          68.0
industrial     58.0
Name: 15, dtype: float64

Class container-crane top words:
poor,        8.0
satellite    6.0
good,        4.0
shows        4.0
image        4.0
port         3.0
ship         3.0
clear        3.0
visible      3.0
view         2.0
Name: 16, dtype: float64

In [18]:
class_word_counts

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,prompt,word
"poor,",3305.0,1297.0,1450.0,1437.0,283.0,353.0,320.0,286.0,235.0,547.0,137.0,795.0,59.0,522.0,500.0,8.0,The image quality is,"poor,"
image,1569.0,821.0,457.0,334.0,107.0,162.0,147.0,77.0,99.0,108.0,67.0,506.0,56.0,115.0,244.0,4.0,The image quality is,image
shows,1144.0,627.0,440.0,341.0,182.0,158.0,216.0,66.0,164.0,83.0,68.0,291.0,37.0,443.0,358.0,4.0,The image quality is,shows
road,229.0,78.0,14.0,7.0,7.0,5.0,10.0,6.0,24.0,1.0,1.0,6.0,5.0,23.0,3.0,0.0,The image quality is,road
yellow,19.0,28.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,The image quality is,yellow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
container,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,The image quality is,container
d,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,The image quality is,d
structure,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,The image quality is,structure
pipeline,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,The image quality is,pipeline
possible,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,The image quality is,possible

In [19]:
out_file = 'C:/Users/neals/Desktop/Practicum/top_word_counts_for_prompts_on_chips.csv'
word_count_df.to_csv(out_file,index=False)

In [20]:
word_count_df = pd.read_csv(out_file)
word_count_df.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,prompt,word
0,282.0,99.0,23.0,11.0,13.0,5.0,11.0,19.0,60.0,3.0,1.0,29.0,5.0,64.0,21.0,0.0,A picture of,road
1,27.0,29.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,A picture of,yellow
2,83.0,47.0,6.0,0.0,13.0,5.0,16.0,5.0,1.0,25.0,8.0,0.0,0.0,0.0,1.0,0.0,A picture of,school
3,28.0,30.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,A picture of,bus
4,867.0,633.0,40.0,18.0,8.0,3.0,5.0,12.0,16.0,15.0,6.0,79.0,1.0,4.0,28.0,0.0,A picture of,parking

In [21]:
# Set the 'word' column as the index
word_count_df.set_index('word', inplace=True)

In [22]:
for prompt in list(word_count_df['prompt'].unique()):
    prompt_df = word_count_df[word_count_df['prompt']==prompt]
    select_classes = [2,3,4,6]
    for i in range(1, 17):
        if i in select_classes:
            print(f'{i}:{category_map[i]} | {prompt}')
            print(prompt_df[f'{i}'].sort_values(ascending=False).head(10))

2:large-vehicle | A picture of
word
parked       721.0
lot          644.0
parking      633.0
trucks       339.0
large        313.0
airport      217.0
building     160.0
cars         155.0
warehouse    152.0
tarmac       113.0
Name: 2, dtype: float64
3:ship | A picture of
word
water         795.0
boats         677.0
dock          487.0
boat          439.0
marina        427.0
docked        303.0
house         241.0
ship          161.0
parked        141.0
background    110.0
Name: 3, dtype: float64
4:harbor | A picture of
word
water         921.0
dock          752.0
boats         617.0
boat          485.0
marina        408.0
house         351.0
docked        284.0
background    155.0
lake          136.0
houses        131.0
Name: 4, dtype: float64
6:soccer-ball-field | A picture of
word
field        307.0
soccer       262.0
tennis        63.0
court         60.0
satellite     54.0
city          52.0
image         41.0
baseball      39.0
ball          32.0
park          22.0
Name: 6, dtype: float64
2:large-vehicle | A photo of
word
parked       716.0
lot          644.0
parking      634.0
trucks       326.0
large        307.0
airport      246.0
warehouse    152.0
cars         152.0
building     150.0
tarmac       111.0
Name: 2, dtype: float64
3:ship | A photo of
word
water           738.0
boats           634.0
marina          452.0
dock            448.0
boat            352.0
docked          322.0
house           241.0
ship            151.0
parked          125.0
neighborhood    108.0
Name: 3, dtype: float64
4:harbor | A photo of
word
water           874.0
dock            707.0
boats           574.0
marina          436.0
house           367.0
boat            339.0
docked          294.0
lake            157.0
near            135.0
neighborhood    116.0
Name: 4, dtype: float64
6:soccer-ball-field | A photo of
word
field        287.0
soccer       247.0
tennis        64.0
court         58.0
city          52.0
satellite     35.0
baseball      33.0
area          31.0
image         29.0
ball          28.0
Name: 6, dtype: float64
2:large-vehicle | There are
word
parked       1098.0
parking       701.0
lot           674.0
trucks        439.0
cars          368.0
aerial        308.0
buildings     293.0
photo         233.0
planes        207.0
airport       143.0
Name: 2, dtype: float64
3:ship | There are
word
boats     1219.0
water     1149.0
dock       486.0
near       480.0
houses     352.0
aerial     341.0
photo      296.0
docked     270.0
marina     219.0
parked     161.0
Name: 3, dtype: float64
4:harbor | There are
word
water     1150.0
boats     1150.0
dock       651.0
houses     476.0
near       466.0
aerial     352.0
photo      311.0
docked     267.0
marina     212.0
image      133.0
Name: 4, dtype: float64
6:soccer-ball-field | There are
word
soccer       190.0
fields       184.0
field        144.0
middle       139.0
aerial       102.0
buildings     89.0
photo         85.0
satellite     84.0
image         77.0
tennis        58.0
Name: 6, dtype: float64
2:large-vehicle | The image quality is
word
poor,       1297.0
image        821.0
shows        627.0
parking      436.0
lot          432.0
clearly      383.0
visible      383.0
good,        281.0
building     267.0
shown        212.0
Name: 2, dtype: float64
3:ship | The image quality is
word
poor,      1450.0
visible     780.0
image       457.0
clearly     452.0
shows       440.0
good,       384.0
boats       368.0
water       347.0
house       276.0
boat        203.0
Name: 3, dtype: float64
4:harbor | The image quality is
word
poor,         1437.0
visible        887.0
clearly        412.0
house          404.0
water          370.0
shows          341.0
image          334.0
boats          318.0
good,          271.0
background     259.0
Name: 4, dtype: float64
6:soccer-ball-field | The image quality is
word
poor,        353.0
image        162.0
shows        158.0
field        144.0
visible      112.0
clearly      106.0
satellite     81.0
soccer        76.0
shown         58.0
area          52.0
Name: 6, dtype: float64